
.title {
    top: 80px;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
}

.form {
    width: 550px;
    height: 450px;
    position: relative;
    justify-content: center;
    align-items: center;    
    border-radius: 10px;
}
